<main ng-init="iniciando()">
    <div class="text">

        <div class="primary">
            <h1>Seja Bem-Vindo de volta, {{ usuarioLogado.nome }}!</h1>
        </div>
        <div class="secondary">
            <h2>{{ processosSeletivo.length > 0 ? 'Você está participando de ' + processosSeletivo.length + ' processos seletivos!' : 'Você ainda não está participando de nenhum processo seletivo :('}}</h2>
            <h2>Novas vagas disponíveis!</h2>
        </div>

    </div>
    <section class="vagas inscritas">
        <h3>Vagas que você se inscreveu:</h3>

        <div class="vaga-container">
            <ul class="vaga-header">
                <li><strong>Sr. Software Engineer</strong></li>
                <li><strong>Situação: </strong>Reprovado na Pré-Seleção</span></li>
                <li><strong>Compatibilidade com a vaga: </strong><span class="affinity-percentage"></span>15%</span>
                </li>
                <li class="down-arrow"><img src="../img/24px.svg" alt="down-arrow"></li>
            </ul>
            <div class="vaga-req hidden">

                <ul>
                    <h4>Requisitos:</h4>
                    <li>Ensino Superior em Tecnologia</li>
                    <li>8 Anos de Experiência na Área de Desenvolvimento</li>
                    <li>Conhecimento em metodologias ágeis</li>
                </ul>

                <ul>
                    <h4>Hard Skills</h4>
                    <li>Python3</li>
                    <li>Django</li>
                    <li>React</li>
                </ul>
                <div class="botao">Até 03/03/2019<button type="submit">Candidatar-se</button></div>
            </div>
        </div>
    </section>
    <section class="vagas abertas">
        <h4>Vagas em aberto:</h4>
        <div class="vaga-container">
            <ul class="vaga-header">
                <li><strong>Sr. Software Engineer</strong></li>
                <li><strong>Situação: </strong><span class="enrollment-status">Reprovado na Pré-Seleção</span></li>
                <li><strong>Compatibilidade com a vaga: </strong><span class="affinity-percentage">15%</span></li>
                <li class="down-arrow"><img src="../img/24px.svg" alt="down-arrow"></li>
            </ul>
            <div class="vaga-req hidden">

                <ul>
                    <h4>Requisitos:</h4>
                    <li>Ensino Superior em Tecnologia</li>
                    <li>8 Anos de Experiência na Área de Desenvolvimento</li>
                    <li>Conhecimento em metodologias ágeis</li>
                </ul>

                <ul>
                    <h4>Hard Skills</h4>
                    <li>Python3</li>
                    <li>Django</li>
                    <li>React</li>
                </ul>
                <div class="botao">Até 03/03/2019<button type="submit">Candidatar-se</button></div>
            </div>
        </div>
    </section>
</main>