<main ng-init="iniciando()">
    <div class="text">

        <div class="primary">
            <h1>Seja Bem-Vindo de volta, Recrutador!</h1>
        </div>
        <div class="secondary">
            <h2>192 pessoas estão participando dos seus processos seletivos!</h2>
        </div>
    </div>
    <section class="vagas inscritas">
        <h3>Processos Seletivos em andamento:</h3>

        <div class="vaga-container">
            <ul class="vaga-header">
                <li><strong>Sr. Software Engineer</strong></li>
                <li><strong>Situação: </strong>Em andamento</span></li>
                <li><strong>Nro de Inscritos: </strong>15</li>
                <li class="down-arrow"><img src="../img/24px.svg" alt="down-arrow"></li>
            </ul>
            <div class="vaga-req hidden">

                <ul>
                    <h4>Requisitos:</h4>
                    <li>Ensino Superior em Tecnologia</li>
                    <li>8 Anos de Experiência na Área de Desenvolvimento</li>
                    <li>Conhecimento em metodologias ágeis</li>
                </ul>
                <ul>
                    <h4>Idiomas</h4>
                    <li>Inglês</li>
                </ul>
                <ul>
                    <h4>Hard Skills</h4>
                    <li>Python3</li>
                    <li>Django</li>
                    <li>React</li>
                </ul>
                <button type="submit">Editar</button>
            </div>
        </div>
        <div class="vaga-container">
            <ul class="vaga-header">
                <li><strong>Sr. Software Engineer</strong></li>
                <li><strong>Situação: </strong><span class="enrollment-status">Em andamento</span></li>
                <li><strong>Nro de Inscritos: </strong>177</li>
                <li class="down-arrow"><img src="../img/24px.svg" alt="down-arrow"></li>
            </ul>
            <div class="vaga-req hidden">

                <ul>
                    <h4>Requisitos:</h4>
                    <li>Ensino Superior em Tecnologia</li>
                    <li>8 Anos de Experiência na Área de Desenvolvimento</li>
                    <li>Conhecimento em metodologias ágeis</li>
                </ul>
                <ul>
                    <h4>Idiomas</h4>
                    <li>Inglês</li>
                </ul>
                <ul>
                    <h4>Hard Skills</h4>
                    <li>Python3</li>
                    <li>Django</li>
                    <li>React</li>
                </ul>
                <button type="submit">Editar</button>
            </div>
        </div>
    </section>
    <section class="vagas abertas">
        <h4>Processos Seletivos encerrados:</h4>
        <div class="vaga-container">
            <ul class="vaga-header">
                <li><strong>Sr. Software Engineer</strong></li>
                <li><strong>Situação: </strong><span class="enrollment-status">Encerrado</span></li>
                <li><strong>Nro de Inscritos: </strong>400</li>
                <li class="down-arrow"><img src="../img/24px.svg" alt="down-arrow"></li>
            </ul>
            <div class="vaga-req hidden">

                <ul>
                    <h4>Requisitos:</h4>
                    <li>Ensino Superior em Tecnologia</li>
                    <li>8 Anos de Experiência na Área de Desenvolvimento</li>
                    <li>Conhecimento em metodologias ágeis</li>
                </ul>

                <ul>
                    <h4>Hard Skills</h4>
                    <li>Python3</li>
                    <li>Django</li>
                    <li>React</li>
                </ul>
                <button type="submit">Ver Resultado</button>
            </div>
    </section>
    <div class="container new">
        <button type="submit">Novo Processo Seletivo</button></div>
</main>